body {
  font-family: "Lato", sans-serif;
  margin: 0;
}

h2,
h3 {
  font-size: 45px;
  color: #333;
}

.flex-container {
  display: flex;
}

.half-width {
  width: 50%;
}

#nav {
  justify-content: space-between;
  align-items: center;
  background-color: #333;
}

#nav h2 {
  color: #fff;
  font-weight: 300;
  padding-left: 80px;
  font-family: "Yomogi", cursive;
}

#nav ul {
  list-style-type: none;
  margin-right: 40px;
}
#nav ul li {
  display: inline-block;
  padding: 20px;
}

#nav ul li a {
  color: #fff;
  text-decoration: none;
  padding: 10px 0;
}
#nav ul li a:hover {
  color: #fba24f;
  border-bottom: 2px solid #fba24f;
}

#top-banner,
#about {
  justify-content: right;
  align-items: center;
}
.top-banner-img {
  width: 90%;
}
.top-banner-left {
  padding-left: 80px;
}
.top-banner-left h1 {
  font-size: 55px;
  margin: 0;
  font-weight: 900;
  color: #333;
}
.text-primary {
  color: #fba24f;
}

.top-banner-left p {
  margin: 0;
  color: #333;
  font-size: 18px;
  font-weight: 300;
  letter-spacing: 1px;
}
.top-banner-text {
  margin: 35px 0;
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 100px;
}

.btn-primary {
  background: linear-gradient(#fba24f, #ff4500);
  color: #fff;
}
.btn-primary:hover {
  background: #fff;
  color: #fba24f;
  border: 1px solid #fba24f;
}

.about-img {
  width: 50%;
  padding-left: 160px;
  padding-top: 60px;
}

#about {
  background: url(images/about-bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin-top: 70px;
}
.about-right {
  padding-right: 180px;
  padding-left: 50px;
}
.about-right p {
  line-height: 1.7;
  margin-bottom: 30px;
}

#recipes {
  padding: 30px;
  background-color: #eeeeee;
}

#recipes h3,
#customer-feedbacks h3 {
  text-align: center;
}

.recipes-text,
.customer-feedbacks-text {
  width: 40%;
  padding-left: 370px;
  text-align: center;
  line-height: 1.5;
}

.recipe-item,
.customer-feedback {
  background-color: #fff;
  width: 30%;
  margin: 20px;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 10px 15px #ccc;
}

.recipe-item img {
  width: 100%;
}

.recipe-item h4 {
  font-size: 24px;
  border-bottom: 1px solid #eee;
  padding-bottom: 10px;
}
.recipe-item p,
.customer-feedback blockquote {
  line-height: 1.5;
}
.recipe-item p {
  border-bottom: 1px solid #eee;
  padding-bottom: 10px;
}

#customer-feedbacks {
  padding: 30px;
  text-align: center;
}

.customer-feedback img {
  width: 70px;
  border-radius: 50%;
}

.customer-feedback {
  border-left: 2px solid #333;
}
.customer-feedback h4 {
  font-size: 24px;
}
.customer-feedback span {
  font-size: 40px;
}
.customer-feedback blockquote {
  border-top: 2px solid #fba24f;
  padding-top: 15px;
}
#social-followers {
  padding: 10px 30px;
  background-color: #eeeeee;
}

.social-items {
  background-color: #fff;
  border-radius: 20px;
  margin: 60px 25px;
  box-shadow: 0 10px 15px #ccc;
}

.social-item {
  width: 33%;
  padding: 20px;
  text-align: center;
}

.social-item h2 {
  margin-bottom: 0;
}

#footer-top {
  background-color: #333;
  color: #fff;
  padding: 10px 40px;
  border-bottom: 1px solid #000;
}

.footer-top-item {
  width: 33%;
  justify-content: center;
  align-items: center;
  margin: 0 80px;
}
.footer-top-item h3 {
  color: #fff;
  border-bottom: 2px solid #fba24f;
  padding-bottom: 10px;
}
.footer-top-list {
  list-style: none;
  padding: 0;
}

.footer-top-list li {
  margin: 10px 0;
}
.footer-top-list li a {
  text-decoration: none;
  color: #fff;
}

.footer-top-list li a:hover {
  color: #fba24f;
}

.subscribe-box input[type="email"] {
  padding: 10px 5px;
  margin-right: 8px;
  border: 0;
}
.subscribe-box input[type="email"]:focus {
  outline: none;
}
.subscribe-box input[type="submit"] {
  border: 0;
}

#footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 20px 0;
}

.moto,
#footer h2 {
  color: #fff;
  font-weight: 300;
  letter-spacing: 1.5px;
  font-family: "Yomogi", cursive;
}

.copy {
  font-family: "Lato", sans-serif;
  letter-spacing: 2px;
}
